@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{ ViewData["Title"] = "About"; }


<style> 

    p {
        color: white
    }
    .bw {
        color: burlywood
    }
</style>

<h1 class="bw">About</h1>

<p>A30Insurance application - Is demonstration only.</p>


<p>A30Insurance application - Written in ASP.NET Core 3.1</p>





