 
@{ ViewData["Title"] = "About"; }


<style> 

    p {
        color: white
    }
    .bw {
        color: burlywood
    }
</style>

<h1 class="bw">About</h1>

<p>A30Insurance application - Is demonstration only.</p>


<p>A30Insurance application - Written in ASP.NET Core 6</p>





