@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@ 

@{
    ViewData["Title"] = "About";
}


<style>
    h1 {
        color: gold
    }

    p {
        color: white
    }
</style>

<h1>About</h1>

<p>Showout application for asp.net core 3</p>




