@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@ 

@{
    ViewData["Title"] = "Goals";
}


<style>
    li {
        color: lawngreen
    }

    p {
        color: white
    }

    th {
        color: white
    }

    td {
        color: dodgerblue
    }
</style>


<h1 style="color:white;">Goals</h1>

<ul>

    <li> tdd for read of 1,  tdd read 50, update 50;  tdd add next start at 50. (remove 60 and ff) </li>
    <li> start with WEB APP template (razor pages) and add api controllers</li>
    <li> import A15 front end panels </li>
    <li> support record encryption </li>
    <li> methods to prevent attacks</li>
    <li> use standard layout templates generated do not replace view layout</li>
    <li> reduce css to one file </li>

</ul>

<p>
    Record encryption - encrypt new records and put a  ENC in encrypt field to unencrypt if needed.
    Allow regular record read for interoperability.
</p>
<p>
    Azure update  - use one data base. Remove second one.

</p>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Desc
        </th>
        <th>
            Features
        </th>
    </tr>
    <tr>
        <td>
            A10 Insurance
        </td>
        <td>
            Standard MVC 2017
        </td>
        <td>
            Entity Framework Code First with Bootstrap
        </td>
    </tr>
    <tr>
        <td>
            A12 Insurance
        </td>
        <td>
            Standard MVC 2017 Refactored
        </td>
        <td>
            Entity Framework Database First
        </td>
    </tr>
    <tr>
        <td>
            A15 Insurance
        </td>
        <td>
            Asp.Net core 2019 rewrite of A10
        </td>
        <td>
            Entity Framework Core Database First
        </td>
    </tr>
    <tr>
        <td>
            A20 Insurance
        </td>
        <td>
            Standard MVC 2017
        </td>
        <td>
            Angular 2 client and Web API .Net Standard
        </td>
    </tr>
    <tr>
        <td>
            A30 Insurance
        </td>
        <td>
            Angular 2 application
        </td>
        <td>
            Node Server
        </td>
    </tr>
    <tr>
        <td>
            A40 Insurance
        </td>
        <td>
            Angular.js application
        </td>
        <td>
            Node Server
        </td>
    </tr>
    <tr>
        <td>
            A50 Insurance
        </td>
        <td>
            React.js application
        </td>
        <td>
            Node Server
        </td>
    </tr>
    <tr>
        <td>
            A60 Insurance
        </td>
        <td>
            ASP.NET core 3 using web API
        </td>
        <td>
            Entity framework core
        </td>
    </tr>
    <tr>
        <td>
            A45 Node Server
        </td>
        <td>
            Node Server in Javascript
        <td>
            Accesses MS SQL Server Express Database using msnodesqlv8
        </td>

    </tr>
</table>










