@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<style>
    h1 {
        color: gold
    }

    p {
        color: white
    }
    .bw {
        color: burlywood
    }
</style>

<h1>About</h1>

<p>A30Insurance application - Information</p>

<p class="bw"> Basic Features</p>
<p>The application allows you to register and update customer information. Then, claims
    can be filed, adjusted and paid. Medical, Dental, Vision and Drug claims can be filed.</p>

<p class="bw">Style Feature</p>
<p> Styles can be used on claim and update screens: outline, solid, and picture backgrounds are available.</p>



