

@using A60Insurance.Models
@model A60Insurance.Models.Plans 

@{
    ViewData["Title"] = "Plan Select"; 
    var message = "Please select a coverage plan."; 
} 


<form asp-action="PlanUpdate"> 

    <div class="container">



        <h4 id="UpdateScreen" style="margin-left:450px; 
            margin-bottom: 150px;
            color:burlywood">Plan Selection</h4>

        
           @{   var plans = Model.GetList(); 
               foreach(var plan in plans)
               {
                   var planName = plan.PlanName.ToString().Trim();
                   var planLiteral = plan.PlanLiteral.ToString().Trim();

                   var q = "'";
                   var parm = @q + planName + q; 


                    <div style="display: flex; margin-top: 25px; ">                                                                  >
                                    
                        <button onclick="planSelect(@parm)" 
                                type="button"  
                                style="margin-left: 150px;"
                                class="st1 b1 btn btn-primary">

                            @planName
                                          
                        </button>

                        <p style="color:white; font-size: larger; margin-left: 30px;">

                           @planLiteral
 
                         </p>

                    </div> 
               }

            }

            <footer style='margin-left: 120px; margin-top: 240px;'>
                <div style="color: burlywood">@message</div>
                <br /><br />
                <div class="col-md-3">
                    <a type="button" class="b1 btn btn-primary" asp-controller="Home" asp-action="Menu">Menu</a>
                </div>
            </footer>

            <!-- store plan name on clicked button.  -->
            <input style="visibility:hidden" id="hiddenPlan" name="hiddenPlan" type="text" />

    </div>

    </form>







